* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #004AAD;
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 1px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #555;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #004AAD;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.ii{
    width: 40px;
}

img{
width: auto;
}


/*Classe pra justificar*/
@media only screen and (min-width:1000px) {
.justify{
    display: flex;
}
}

.rr{
    width: 100%;
    height: 100%;
}

div p{
    padding: 1%;
}

.adjustsize{
   width: 10%;
}

.perfil{
    width: 5%;
}
