/* Adicione estas regras ao seu arquivo template.css */

/* Tema claro */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    color: #000;
}

/* Tema escuro */
body.dark-theme {
    background-color: #222;
    color: #fff;
}

header {
    width: 100%;
    height: 50px;
    background-color: #023859;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

header img {
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    width: auto;
    filter: brightness(10);
}

.pfp {
    margin-right: 10px;
    margin-top: 10px;
    height: 30px;
}

main {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    height: 100%;
    text-align: center;
}

footer {
    align-self: flex-end;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #023859;
}

nav {
    margin-top: 50px;
    position: fixed;
    background-color: #023859;
    height: 100%;
    width: 0px;
    transition: all 0.5s ease;
}

/* Botao de Sair */ 
.butao {
    width: 100px;
    align-self: flex-end;
    margin-top: 45px;
    position: fixed;
}

.invisible {
    display: none;
}

/* Portabilidade Mobile */
@media (max-width: 800px) {
    .ativo {
        width: 80%;
        transition: all 0.5s ease;
    }
}

@media (min-width: 800px) {
    .ativo {
        width: 20%;
        transition: all 0.5s ease;
    }
}
