body{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
}

header img{
    margin-top: 5px;
    height: 40px;
    width: auto;
    filter: brightness(10);
}
